<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fcm"
        version="1.1.4">
    <name>FCMPlugin</name>
    <description>Cordova FCM Plus Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, ionic, fcm, push, plugin</keywords>

    <info>Cordova FCM Plus plugin</info>

    <js-module src="www/FCMPlugin.js" name="FCMPlugin">
        <clobbers target="FCMPlugin"/>
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=4.0.0"/>
    </engines>

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:exported="true" android:name="com.gae.scaffolder.plugin.FCMPluginActivity"
                      android:launchMode="singleTop">
                <intent-filter>
                    <action android:name="FCM_PLUGIN_ACTIVITY"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <service android:name="com.gae.scaffolder.plugin.MyFirebaseMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <service android:name="com.gae.scaffolder.plugin.MyFirebaseInstanceIDService">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                </intent-filter>
            </service>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FCMPlugin">
                <param name="android-package" value="com.gae.scaffolder.plugin.FCMPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <framework src="src/android/FCMPlugin.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/FCMPlugin.java" target-dir="src/com/gae/scaffolder/plugin"/>
        <source-file src="src/android/MyFirebaseMessagingService.java" target-dir="src/com/gae/scaffolder/plugin"/>
        <source-file src="src/android/MyFirebaseInstanceIDService.java" target-dir="src/com/gae/scaffolder/plugin"/>
        <source-file src="src/android/FCMPluginActivity.java" target-dir="src/com/gae/scaffolder/plugin"/>
    </platform>

    <!-- IOS CONFIGURATION -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FCMPlugin">
                <param name="ios-package" value="FCMPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/FCMPlugin.h"/>
        <source-file src="src/ios/FCMPlugin.m"/>
        <header-file src="src/ios/AppDelegate+FCMPlugin.h"/>
        <source-file src="src/ios/AppDelegate+FCMPlugin.m"/>
        <resource-file src="../../GoogleService-Info.plist" target="Resources/GoogleService-Info.plist" />

        <!-- FIREBASE LIBS -->
        <header-file src="src/ios/firebase/Firebase.h"/>
        <framework src="src/ios/firebase/FirebaseAnalytics.framework" custom="true"/>
        <framework src="src/ios/firebase/FirebaseInstanceID.framework" custom="true"/>
        <framework src="src/ios/firebase/FirebaseMessaging.framework" custom="true"/>
        <framework src="src/ios/firebase/GoogleInterchangeUtilities.framework" custom="true"/>
        <framework src="src/ios/firebase/GoogleIPhoneUtilities.framework" custom="true"/>
        <framework src="src/ios/firebase/GoogleSymbolUtilities.framework" custom="true"/>
        <!-- <framework custom="true" src="src/ios/Firebase/Crash/FirebaseCrash.framework" /> -->
        <framework src="src/ios/firebase/GoogleUtilities.framework" custom="true"/>

        <!-- OTHER NEEDED LIBS -->
        <framework src="libc++.tbd"/>
        <framework src="libz.tbd"/>
        <framework src="AddressBook.framework"/>
        <framework src="libsqlite3.0.tbd"/>
        <framework src="libz.tbd"/>
        <framework src="Security.framework"/>
    </platform>

    <hook src="scripts/after_prepare.js" type="after_prepare"/>

</plugin>
